html body {
  background-color: lightsteelblue;
}

#header input select {
  margin-top: 6px;
}

.thead-custom {
  background-color: cornflowerblue;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
}

.container {
  font-family: 'Open Sans', sans-serif;
  background-color: aliceblue;
  
}

.padding {
  padding-left: 10px;
}

textarea {
  padding-top: 10px;
}