<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="htmlhead">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"></link>
     <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" th:href="@{/css/style.css}"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Bestseller - datat</title>
</head>
<body>
<h1>Bestseller - datat</h1>

<h2>Kilpailu</h2>
<table class="table table-striped">
<tr>
<td>Id</td>
<td>Nimi</td>
<td>Pvm</td>
<td>Paikka</td>
</tr>

<tr>
<td th:text="${kilpailu.kilpailuId}"></td>
<td th:text="${kilpailu.nimi}"></td>
<td th:text="${kilpailu.pvm}"></td>
<td th:text="${kilpailu.paikka}"></td>
</tr>
</table>
<br>

<h2>Kilpailijat</h2>
<a th:href="@{'/luokilpailija/'+${kilpailu.kilpailuId}}">Lisää</a>
<table class="table table-striped">
<tr>
<td>Id</td>
<td>Etunimi</td>
<td>Sukunimi</td>
<td>Kilpailijanumero</td>
<td>Koulu</td>
<td>Lohko</td>
<td></td>
</tr>

<tr th:each="kilpailija:${kilpailijat}">
<td th:text="${kilpailija.kilpailijaId}"></td>
<td th:text="${kilpailija.etunimi}"></td>
<td th:text="${kilpailija.sukunimi}"></td>
<td th:text="${kilpailija.kilpailijaNro}"></td>
<td th:text="${kilpailija.koulu}"></td>
<td th:text="${kilpailija.lohko.lohkoNro}"></td>
<td><a th:href="@{'/poistakilpailija/'+${kilpailija.kilpailijaId}}">Poista</a></td>
</tr>
</table>
<br>

<h2>Lohkot</h2>
<table class="table table-striped">
<tr>
<td>Id</td>
<td>Lohkonumero</td>
<td>KilpailuId</td>
</tr>

<tr th:each="lohko:${lohkot}">
<td th:text="${lohko.lohkoId}"></td>
<td th:text="${lohko.lohkoNro}"></td>
<td th:text="${lohko.kilpailu.kilpailuId}"></td>
</tr>
</table>
<br>


<h2>Tuomarit</h2>
<a th:href="@{'/luotuomari/'+${kilpailu.kilpailuId}}">Lisää</a>
<table class="table table-striped">
<tr>
<td>Id</td>
<td>tuomarinumero</td>
<td>lohko</td>
<td></td>
</tr>

<tr th:each="tuomari:${tuomarit}">
<td th:text="${tuomari.tuomariId}"></td>
<td th:text="${tuomari.tuomariNro}"></td>
<td th:text="${tuomari.lohkoNro}"></td>
<td><a th:href="@{'/poistatuomari/'+${tuomari.tuomariId}}">Poista</a></td>
</tr>
</table>
<br>


<h2>Arvioinnit</h2>
<table class="table table-stripped">
<tr>
<td>Id </td>
<td>Kilpailijan nimi</td>
<td>Tuomarin numero</td>
<td>Aloitus 10%</td>
<td>Tarvekartoitus 30%</td>
<td>Ratkaisun esittäminen 25%</td>
<td>Asiakkaan kysymysten käsittely 10%</td>
<td>Päättäminen 10%</td>
<td>Yleivaikutelma 10%</td>
</tr>
<tr th:each="arviointi:${arvioinnit}">
<td th:text="${arviointi.arviointiId}"></td>
<td th:text="${arviointi.kilpailija.etunimi}"></td>
<td th:text="${arviointi.tuomari.tuomariNro}"></td>
<td th:text="${arviointi.aloitus}"></td>
<td th:text="${arviointi.kysymystenKasittely}"></td>
<td th:text="${arviointi.paattaminen}"></td>
<td th:text="${arviointi.ratkaisu}"></td>
<td th:text="${arviointi.tarvekartoitus}"></td>
<td th:text="${arviointi.yleisvaikutelma}"></td>
</tr>
</table>
<br>

<a href="/testaus">takaisin</a>
</body>
</html>