<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="htmlhead">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css" th:href="@{/css/style.css}" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">

    <!-- Fontit -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Changa+One" rel="stylesheet">

    <!-- Date picker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.fi.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.min.css">


    <script type="text/javascript">
        $(document).ready(function () {
            $.fn.datepicker.defaults.language = 'fi';
        });

        $(document).ready(function () {
            $('#picker input').datepicker();
        });
    </script>

    <title>Bestseller - Muokkaa kilpailua</title>
</head>

<body>
	<div class="standard h-100">
		<div class="container tuom">

			<!-- Header -->

			<div class="row padding">
				<a href="index.html" th:href="@{/}"> <img
					src="../static/img/BSC_sinetti_logo.png"
					th:src="@{/img/BSC_sinetti_logo.png}" alt="logo-sm" class="logo-sm" /></a>
				<h1 class="headertext">Muokkaa kilpailua</h1>
			</div>
			<hr>

			<!-- Main -->

			<div class="row padding">
				<form role="form" th:object="${kilpailu}"
					th:action="@{/updatekilpailu}" action="#" method="post">
					<input type="hidden" class="nimi" th:required="required"
						th:field="*{kilpailuId}" />
					<div class="form-group">

						<label for="nimi"> Kilpailun nimi </label> <input type="text"
							class="nimi" th:required="required" th:field="*{nimi}" />
					</div>
					<div class="form-group">
						<label for="pvm"> Päivämäärä </label>
						<div id="picker" class="input-group date"
							data-provide="datepicker">
							<input type="text" class="form-control" th:field="*{pvm}">
							<span class="input-group-addon"><i
								class="far fa-calendar-alt fa-2x"></i></span>
						</div>
					</div>
					<div class="form-group">

						<label for="paikka"> Kilpailun paikka </label> <input type="text"
							class="form-control" id="paikka" th:required="required"
							th:field="*{paikka}" /> <label for="testi"> Onko
							testikilpailu? </label> <input type="radio" th:field="*{testi}"
							th:value="0" /> <label>Ei</label> <input type="radio"
							th:field="*{testi}" th:value="1" /> <label>Kyllä</label> <br />
					</div>
					<input id="addButton" type="submit" class="btn btn-primary"
						value="Tallenna" />
				</form>
			</div>

		</div>
	</div>

</body>

</html>