<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="shortcut icon" type="image/png"
	th:href="@{/images/favicon.png}" />
<link rel="stylesheet" type="text/css" media="screen"
	href="../static/css/style.css" th:href="@{/css/style.css}" />

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
	integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	crossorigin="anonymous"></script>

<!-- Fontit -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Changa+One"
	rel="stylesheet">

<title>Bestseller Competition</title>
</head>

<body>
	<div class="indexbody h-100">

		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div class="cover-container">
					<div class="masthead clearfix"></div>

					<div class="inner cover">
						<img th:src="@{/img/BSC_sinetti_logo.png}"
							src="../static/img/BSC_sinetti_logo.png" class="logo" alt="logo" />
						<h3>Kirjaudu sisään</h3>

						<div class="alert alert-danger" th:if="${param.error}">
							Käyttäjänimi tai salasana ei kelpaa.</div>
						<div class="alert alert-warning" th:if="${param.logout}">
							Olet kirjautunut ulos.</div>
						<form th:action="@{/login}" method="post">
							<div>
								<label> Käyttäjänimi : <input type="text"
									name="username" class="form-control" />
								</label>
							</div>
							<div>
								<label> Salasana : <input type="password"
									name="password" class="form-control" />
								</label>
							</div>
							<div>
								<input type="submit" value="Kirjaudu sisään" />
							</div>
						</form>
					</div>
					<br />
					<form th:action="@{/seuranta}" method="POST">
						<button class="btn btn-lg btn-info" type="submit">Seuraa
							Arvioinnin Etenemistä</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>

</html>