<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#4286f4">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#4286f4">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#4286f4">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}" />
	<link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css" th:href="@{/css/style.css}" />

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	 crossorigin="anonymous"></script>

	<!-- Fontit -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Changa+One" rel="stylesheet">

	<title>Best Seller Competition</title>
</head>

<body>
	<div class="indexbody h-100">

		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div class="cover-container">
					<form onSubmit="if(!confirm('Haluatko varmasti poistua?')){return false;}" th:action="@{'/ostaja/poistaostaja/'+${ostajasignupform.rooliId}}">

						<button class="btn btn-sm btn-danger">Peruuta</button>
					</form>
					<div class="masthead clearfix"></div>

					<div class="inner cover">
						<h3>Luo tunnukset</h3>
						<form th:object="${ostajasignupform}" th:action="@{/saveuser}" action="#" method="post">
							<div>
								<label> Käyttäjänimi :<input type="text" th:field="*{username}" class="form-control" /></label>
								<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Virhe Käyttäjänimessä</p>
							</div>

							<div>
								<label> Salasana :<input type="password" th:field="*{password}" class="form-control" /></label>
								<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Virhe Salasanassa</p>
							</div>
							<div>
								<label> Kirjoita Salasana Uudelleen: <input type="password" th:field="*{passwordCheck}" class="form-control" /></label>
								<p th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}">Salasanat Eivät Täsmää</p>
							</div>
							<input type="hidden" th:field="*{rooli}" th:value="ostaja"></input>
							<input type="hidden" th:field="*{rooliId}" th:value="${ostajasignupform.rooliId}"></input> <input type="submit"
							 class="btn btn-success" value="Luo käyttäjä"></input>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>

</html>