<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
</head>

<body>
    <div class="container tuom">
        <div class="row padding">
            <h1>Best Seller 2019</h1>
        </div>
        <div class="row padding">
            <div class="col-lg-6 col-sm-6 col-xs-12" id="header">
                Kilpailija:
                <select name="oppilaitos" id="oppilaitos">
                    <option value="asd" selected>Valitse:</option>
                    <option value="fgh">Aku Ankka</option>
                    <option value="jkl">Mikki Hiiri</option>
                    <option value="löä">Hessu Hopo</option>
                    <option value="zxc">Roope Ankka</option>
                </select>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12" id="header">
                    Ostajan nro: <input type="text" size="6">
            </div>
        </div>
        <hr>
        <div class="row padding">
            <div class="col-xs-12">
                <table class="table">
                        <thead class="thead-custom">
                                <tr class="table-info">
                                    <th scope="col">Myyjän arvosana (5%)</td>
                                    <th scope="col"></td>
                                </tr>
                            </thead>
                    <tbody>
                        <tr>
                            <td>Minkä arvosanan annat myyjän kokonaissuorituksesta:</td>
                            <td>
                                <select name="arvosana" id="arvosana">
                                    <option value="valinta" selected>Valitse:</option>
                                    <option value="zero">0</option>
                                    <option value="one">1</option>
                                    <option value="two">2</option>
                                    <option value="three">3</option>
                                    <option value="four">4</option>
                                    <option value="five">5</option>
                                    <option value="six">6</option>
                                    <option value="seven">7</option>
                                </select> <br>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row padding">
            <div class="col-xs-12">
                Vapaa palaute: <br>
                <textarea row paddings="2" cols="70">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </textarea>
            </div>
        </div>
    </div>

</body>

</html>