<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}" />

    <!-- Custom CSS -->

    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css" th:href="@{/css/style.css}" />

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <!-- Fontit -->

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Changa+One" rel="stylesheet">

    <title>Bestseller - index</title>
</head>

<body>
    <div class="standard h-100">
        <div class="container tuom">
            <div class="row">
                <a href="index.html" th:href="@{/}">
                    <img src="../static/img/BSC_sinetti_logo.png" th:src="@{/img/BSC_sinetti_logo.png}" alt="logo-sm"
                        class="logo-sm" />
                </a>
                <h1 class="headertext">Best Seller Admin</h1>
            </div>
            <hr>
            <div class="row padding">
                <form action="luonti.html" th:action="@{/luokilpailu}">
                    <button class="btn btn-lg btn-info">Luo kilpailu</button>
                </form>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Olemassa olevat kilpailut</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="kilpailu:${kilpailut}">
                            <td style="font-size: 1.5em; font-weight: bold; width: 70%" th:text="${kilpailu.nimi}"></td>
                            <td>
                                <form action="datat.html" th:action="@{'/datat/'+${kilpailu.kilpailuId}}">
                                    <button class="btn btn-sm btn-warning">Muokkaa</button>
                                </form>
                            </td>
                            <td>
                                <form th:action="@{'/poistakilpailu/'+${kilpailu.kilpailuId}}">
                                    <button class="btn btn-sm btn-danger">Poista</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>