<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Best Seller - Tuomari</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Changa+One" rel="stylesheet">
</head>

<body>
    <div class="container tuom">
        <div class="row padding">
            <h1>Best Seller 2019</h1>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12" id="header">
                Kilpailija:
                <select name="kilpailija" id="kilpailija" >
                 <option value="asd" selected>Valitse:</option>
                <ul>
                <li th:each="kilpailija:${kilpailijat}">
               
                   
                    <option th:value="${kilpailija.sukunimi}"/><p th:text="${kilpailija.etunimi+' '}"> </p><p th:text="${kilpailija.sukunimi}"></p></option>
                    </li>
                     </ul>


                </select>
            </div>
       
      <div class="row padding">
            <div class="col-lg-6 col-sm-6 col-xs-12" id="header">
                    Tuomarin nro: <select name="tuomari" id="tuomari">
                    	<option value="wasd" selected>valitse:</option>
                    	<ul>
                    	<li th:each="tuomari:${tuomarit}">
                    		<option th:value="${tuomari.tuomariNro}"><p th:text="${tuomari.tuomariNro}"></p></option>
                    		</li>
                    	</ul>
                    </select>
            </div>
        </div>
            
        <hr>
        <div class="row padding">
            <div class="col-xs-12">
                <table class="table">
                    <thead class="thead-custom">
                        <tr class="table-info">
                            <th scope="col">Aloitus (10%)</td>
                            <th scope="col"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Selkeä esittäytyminen:</td>
                            <td>
                                <select name="arvosana" id="arvosana">
                                    <option value="valinta" selected>Valitse:</option>
                                    <option value="zero">0</option>
                                    <option value="one">1</option>
                                    <option value="two">2</option>
                                    <option value="three">3</option>
                                    <option value="four">4</option>
                                    <option value="five">5</option>
                                    <option value="six">6</option>
                                    <option value="seven">7</option>
                                </select> <br>
                            </td>
                        </tr>
                        <tr>
                            <td>Tapaamisen lähtötilanteen ja tarkoituksen kuvaaminen:</td>
                            <td>
                                <select name="arvosana" id="arvosana">
                                    <option value="valinta" selected>Valitse:</option>
                                    <option value="zero">0</option>
                                    <option value="one">1</option>
                                    <option value="two">2</option>
                                    <option value="three">3</option>
                                    <option value="four">4</option>
                                    <option value="five">5</option>
                                    <option value="six">6</option>
                                    <option value="seven">7</option>
                                </select> <br>
                            </td>
                        </tr>
                        <tr>
                            <td>Tapaamisen ajankäytöstä sopiminen:</td>
                            <td>
                                <select name="arvosana" id="arvosana">
                                    <option value="valinta" selected>Valitse:</option>
                                    <option value="zero">0</option>
                                    <option value="one">1</option>
                                    <option value="two">2</option>
                                    <option value="three">3</option>
                                    <option value="four">4</option>
                                    <option value="five">5</option>
                                    <option value="six">6</option>
                                    <option value="seven">7</option>
                                </select> <br>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row padding">
            <div class="col-xs-12">
                Vapaa palaute: <br>
                <textarea row paddings="2" cols="70"></textarea>
            </div>
        </div>
        <hr>
        <div class="row padding">
            <div class="col-xs-12">
                <table class="table">
                        <thead class="thead-custom">
                            <tr class="table-info">
                                <th scope="col">Tarvekartoitus (30%)</td>
                                <th scope="col"></td>
                            </tr>
                        </thead>
                    <tbody>
                        <tr>
                            <td>Perustietojen selvitys:</td>
                            <td>
                                <select name="arvosana" id="arvosana">
                                    <option value="valinta" selected>Valitse:</option>
                                    <option value="zero">0</option>
                                    <option value="one">1</option>
                                    <option value="two">2</option>
                                    <option value="three">3</option>
                                    <option value="four">4</option>
                                    <option value="five">5</option>
                                    <option value="six">6</option>
                                    <option value="seven">7</option>
                                </select> <br>
                            </td>
                        </tr>
                        <tr>
                            <td>Asiakkaan nykytilanteeseen liittyvien haasteiden ja mahdollisuuksien kartoittaminen:</td>
                            <td>
                                <select name="arvosana" id="arvosana">
                                    <option value="valinta" selected>Valitse:</option>
                                    <option value="zero">0</option>
                                    <option value="one">1</option>
                                    <option value="two">2</option>
                                    <option value="three">3</option>
                                    <option value="four">4</option>
                                    <option value="five">5</option>
                                    <option value="six">6</option>
                                    <option value="seven">7</option>
                                </select> <br>
                            </td>
                        </tr>
                        <tr>
                            <td>Asiakkaan tarpeen kehittäminen ja arvo asiakkaalle:</td>
                            <td>
                                <select name="arvosana" id="arvosana">
                                    <option value="valinta" selected>Valitse:</option>
                                    <option value="zero">0</option>
                                    <option value="one">1</option>
                                    <option value="two">2</option>
                                    <option value="three">3</option>
                                    <option value="four">4</option>
                                    <option value="five">5</option>
                                    <option value="six">6</option>
                                    <option value="seven">7</option>
                                </select> <br>
                            </td>
                        </tr>
                        <tr>
                            <td>Asiakkaan päätöksentekoprosessin ja vaikuttajaverkoston selvittäminen:</td>
                            <td>
                                <select name="arvosana" id="arvosana">
                                    <option value="valinta" selected>Valitse:</option>
                                    <option value="zero">0</option>
                                    <option value="one">1</option>
                                    <option value="two">2</option>
                                    <option value="three">3</option>
                                    <option value="four">4</option>
                                    <option value="five">5</option>
                                    <option value="six">6</option>
                                    <option value="seven">7</option>
                                </select> <br>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row padding">
            <div class="col-xs-12">
                Vapaa palaute: <br>
                <textarea row paddings="2" cols="70"></textarea>
            </div>
        </div>
        <hr>
        <div class="row padding">
            <div class="col-xs-12">
                <table class="table">
                        <thead class="thead-custom">
                                <tr class="table-info">
                                    <th scope="col">Ratkaisun esittäminen (25%)</td>
                                    <th scope="col"></td>
                                </tr>
                            </thead>
                    <tbody>
                        <tr>
                            <td>Yhteenveto asiakkaan haasteista ja mahdollisuuksista:</td>
                            <td>
                                <select name="arvosana" id="arvosana">
                                    <option value="valinta" selected>Valitse:</option>
                                    <option value="zero">0</option>
                                    <option value="one">1</option>
                                    <option value="two">2</option>
                                    <option value="three">3</option>
                                    <option value="four">4</option>
                                    <option value="five">5</option>
                                    <option value="six">6</option>
                                    <option value="seven">7</option>
                                </select> <br>
                            </td>
                        </tr>
                        <tr>
                            <td>Ratkaisun esittäminen tarvekartoitukseen ja mahdollisiin aikaisempiin tapaamisiin
                                perustuen:</td>
                            <td>
                                <select name="arvosana" id="arvosana">
                                    <option value="valinta" selected>Valitse:</option>
                                    <option value="zero">0</option>
                                    <option value="one">1</option>
                                    <option value="two">2</option>
                                    <option value="three">3</option>
                                    <option value="four">4</option>
                                    <option value="five">5</option>
                                    <option value="six">6</option>
                                    <option value="seven">7</option>
                                </select> <br>
                            </td>
                        </tr>
                        <tr>
                            <td>Ratkaisun asiakashyötyjen esilletuonti ominaisuuksien sijaan:</td>
                            <td>
                                <select name="arvosana" id="arvosana">
                                    <option value="valinta" selected>Valitse:</option>
                                    <option value="zero">0</option>
                                    <option value="one">1</option>
                                    <option value="two">2</option>
                                    <option value="three">3</option>
                                    <option value="four">4</option>
                                    <option value="five">5</option>
                                    <option value="six">6</option>
                                    <option value="seven">7</option>
                                </select> <br>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row padding">
            <div class="col-xs-12">
                Vapaa palaute: <br>
                <textarea row paddings="2" cols="70"></textarea>
            </div>
        </div>
        <hr>
        <div class="row padding">
            <div class="col-xs-12">
                <table class="table">
                        <thead class="thead-custom">
                                <tr class="table-info">
                                    <th scope="col">Asiakkaan kysymysten käsittely (10%)</td>
                                    <th scope="col"></td>
                                </tr>
                            </thead>
                    <tbody>
                        <tr>
                            <td>Asiakkaan kysymysten ja mahdollisten vastaväitteiden ymmärtäminen ja käsittely:</td>
                            <td>
                                <select name="arvosana" id="arvosana">
                                    <option value="valinta" selected>Valitse:</option>
                                    <option value="zero">0</option>
                                    <option value="one">1</option>
                                    <option value="two">2</option>
                                    <option value="three">3</option>
                                    <option value="four">4</option>
                                    <option value="five">5</option>
                                    <option value="six">6</option>
                                    <option value="seven">7</option>
                                </select> <br>
                            </td>
                        </tr>
                        <tr>
                            <td>Asiakkaan huolenaiheiden käsittely:</td>
                            <td>
                                <select name="arvosana" id="arvosana">
                                    <option value="valinta" selected>Valitse:</option>
                                    <option value="zero">0</option>
                                    <option value="one">1</option>
                                    <option value="two">2</option>
                                    <option value="three">3</option>
                                    <option value="four">4</option>
                                    <option value="five">5</option>
                                    <option value="six">6</option>
                                    <option value="seven">7</option>
                                </select> <br>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row padding">
            <div class="col-xs-12">
                Vapaa palaute: <br>
                <textarea row paddings="2" cols="70"></textarea>
            </div>
        </div>
        <hr>
        <div class="row padding">
            <div class="col-xs-12">
                <table class="table">
                        <thead class="thead-custom">
                                <tr class="table-info">
                                    <th scope="col">Päättäminen (10%)</td>
                                    <th scope="col"></td>
                                </tr>
                            </thead>
                    <tbody>
                        <tr>
                            <td>Sopivan sitoutumisen perusteltu ehdottaminen:</td>
                            <td>
                                <select name="arvosana" id="arvosana">
                                    <option value="valinta" selected>Valitse:</option>
                                    <option value="zero">0</option>
                                    <option value="one">1</option>
                                    <option value="two">2</option>
                                    <option value="three">3</option>
                                    <option value="four">4</option>
                                    <option value="five">5</option>
                                    <option value="six">6</option>
                                    <option value="seven">7</option>
                                </select> <br>
                            </td>
                        </tr>
                        <tr>
                            <td>Asiakkaan sitoutumisen saaminen ehdotettuun etenemistapaan ja jatkotoimenpiteistä
                                sopiminen:</td>
                            <td>
                                <select name="arvosana" id="arvosana">
                                    <option value="valinta" selected>Valitse:</option>
                                    <option value="zero">0</option>
                                    <option value="one">1</option>
                                    <option value="two">2</option>
                                    <option value="three">3</option>
                                    <option value="four">4</option>
                                    <option value="five">5</option>
                                    <option value="six">6</option>
                                    <option value="seven">7</option>
                                </select> <br>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row padding">
            <div class="col-xs-12">
                Vapaa palaute: <br>
                <textarea row paddings="2" cols="70"></textarea>
            </div>
        </div>
        <hr>
        <div class="row padding">
            <div class="col-xs-12">
                <table class="table">
                        <thead class="thead-custom">
                                <tr class="table-info">
                                    <th scope="col">Yleisvaikutelma. Viestintä- ja vuorovaikutustaidot (10%)</td>
                                    <th scope="col"></td>
                                </tr>
                            </thead>
                    <tbody>
                        <tr>
                            <td>Aktiivinen kuuntelu ja läsnäolo:</td>
                            <td>
                                <select name="arvosana" id="arvosana">
                                    <option value="valinta" selected>Valitse:</option>
                                    <option value="zero">0</option>
                                    <option value="one">1</option>
                                    <option value="two">2</option>
                                    <option value="three">3</option>
                                    <option value="four">4</option>
                                    <option value="five">5</option>
                                    <option value="six">6</option>
                                    <option value="seven">7</option>
                                </select> <br>
                            </td>
                        </tr>
                        <tr>
                            <td>Tilannetaju ja erilaisuuden huomioiminen:</td>
                            <td>
                                <select name="arvosana" id="arvosana">
                                    <option value="valinta" selected>Valitse:</option>
                                    <option value="zero">0</option>
                                    <option value="one">1</option>
                                    <option value="two">2</option>
                                    <option value="three">3</option>
                                    <option value="four">4</option>
                                    <option value="five">5</option>
                                    <option value="six">6</option>
                                    <option value="seven">7</option>
                                </select> <br>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row padding">
            <div class="col-xs-12">
                Vapaa palaute: <br>
                <textarea row paddings="2" cols="70"></textarea>
            </div>
        </div>
        <hr>
        <div class="row padding">
            <div class="col-lg-6 col-md-6 col-sm-6">
                    <button class="btn btn-lg btn-info" formaction="tuomarointi.html">Tuomari</button>
                    <button class="btn btn-lg btn-info" formaction="tuomarointi.html">Tuomari</button>
            </div>
        </div>
    </div>

</body>

</html>